[alias]
  ci = commit --verbose
  pao = push --all origin
  co = checkout
  st = status
  aa = add -A
  a = add
  cia = commit -a --verbose
  ls = !bash -ic 'git --no-pager log --decorate --max-count=10 --format=\"tformat:%C(auto,yellow)%<(8,trunc)%h %C(blue)%<(15,trunc)%cN %<($((COLUMNS - 42)),trunc)%Creset%s %C(yellow)%G?%C(magenta)%>(15,trunc)%cr%Creset\" \"$@\"' --
  la = !bash -ic 'git --no-pager log --decorate --max-count=10 --format=\"tformat:%C(auto,yellow)%<(8,trunc)%h %C(blue)%<(15,trunc)%cN %<($((COLUMNS - 42)),trunc)%Creset%s %C(yellow)%G?%C(magenta)%>(15,trunc)%cr%Creset%+b\" \"$@\"' --
  ll = !bash -ic 'git log --decorate --format=\"tformat:%C(auto,yellow)%<(8,trunc)%h %C(blue)%<(15,trunc)%cN %<($((COLUMNS - 42)),trunc)%Creset%s %C(yellow)%G?%C(magenta)%>(15,trunc)%cr%Creset\" \"$@\"' --
  lla = !bash -ic 'git log --decorate --format=\"tformat:%C(auto,yellow)%<(8,trunc)%h %C(blue)%<(15,trunc)%cN %<($((COLUMNS - 42)),trunc)%Creset%s %C(yellow)%G?%C(magenta)%>(15,trunc)%cr%Creset%+b\" \"$@\"' --
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  conflicted = !nvim +Conflicted
  c = commit --verbose
  pa = push
  pab = push --all b0o
  p = push
  uncommit = reset --soft HEAD^
  # save a 'snapshot' to the stash while maintaining the stashed changes in the working tree
  snap = "!git stash push -m \"${1:-snapshot}\" && git stash apply"
  # save a 'snapshot' to the stash of the index while maintaining the stashed changes in the working tree
  snap-staged = "!git stash push --staged -m \"${1:-snapshot}\" && git stash apply --index"

# vim: ft=gitconfig commentstring=#%s
