[delta]
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  syntax-theme = "lavi"
  dark = true
  file-style = "#61afef" bold
  file-decoration-style = "#4C435C" bold ol ul
  file-added-label = " "
  file-copied-label = "  "
  file-modified-label = " "
  file-removed-label = " "
  file-renamed-label = " "
  commit-decoration-style = "#4C435C" bold box
  hunk-header-style = file line-number syntax
  hunk-header-decoration-style = "#4C435C" bold box ul
  hunk-header-file-style = "#61afef"
  hunk-header-line-number-style = "#9e8fbd"
  line-numbers = true
  line-numbers-left-format = "{nm:^4}┃"
  line-numbers-right-format = "┃{np:^4}┃"
  line-numbers-left-style = "#4C435C"
  line-numbers-right-style = "#4C435C"
  line-numbers-minus-style = "#ffe5f3" "#63284f"
  line-numbers-plus-style = "#d2ffeb" "#35695A"
  line-numbers-zero-style = "#8775a6"
  minus-style = "syntax" "#451c37"
  minus-emph-style = "#ffe5f3" "#993367" bold
  plus-style = "syntax" "#243b3e"
  plus-emph-style = "#d2ffeb" "#357E5D" bold
  whitespace-error-style = "auto" "#e5c07b"
  merge-conflict-begin-symbol = ⌃
  merge-conflict-end-symbol = ⌄
  merge-conflict-ours-diff-header-style = "#d2ffeb" bold
  merge-conflict-ours-diff-header-decoration-style = "#4C435C" box
  merge-conflict-theirs-diff-header-style = "#d2ffeb" bold
  merge-conflict-theirs-diff-header-decoration-style = "#4C435C" box

# vim: ft=gitconfig commentstring=#%s
