[user]
  email = me@example.com
  name = My Name
  signingkey = XXXXXXXXXXXXXXXX

[github]
  user = username
  password = github_pat_XXXXX

[url "git@github-username:username"]
  pushInsteadOf = https://github.com/username

[url "https://github.com"]
  insteadOf = git://github.com

# vim: ft=gitconfig commentstring=#%s
